@use 'base/mixins' as m;

.index {
	display: grid;
	grid-template-areas:
		' aside header header header'
		' main main main main'
		' main main main main'
		' footer  footer footer footer';

	.header {
		grid-area: header;
	}

	.aside {
		grid-area: aside;
	}

	.main {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}

	@include m.desktop {
		grid-template-areas:
			' aside header header header'
			' aside main main main'
			' aside main main main'
			' blanco  footer footer footer';
	}
}
