//Tipografica
$fuente_principal: Arial, Helvetica, sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$fondo: #1d1d1d;
$verde: #c0f205;
$gris: #393939;

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
